<form class="formContainer">
    <input 
    [(ngModel)]="username"
    (change)="setUsername($event.target.value)"
    [ngModelOptions]="{standalone: true}"
    class="username" 
    type="text" 
    placeholder="username">
    <input 
    [(ngModel)]="password"
    (change)="setPassword($event.target.value)"
    [ngModelOptions]="{standalone: true}"
    class="password" 
    type="password" 
    placeholder="password">
</form>

<button class="buttonContainer" (click)="attemptLogin()">
    Log In
</button>